{% extends "collection/index.html" %}
<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
  {% block body  %}
<h3> Currently Viewing Native Courses of <i> {{ programme_li.programme_name }} {{ programme_li.duration }} Year, {{ programme_li.branch }} </i></h3>
{% if course_li %}
    <ul>
    {% for pr in course_li %}
        <li><a href="{{ pr }}/">{{ pr.course_name }}</a></li>
    {% endfor %}
    </ul>
{% else %}
    <p>Sorry No Course List is Available</p>
{% endif %}
{% endblock %}
</body>
</html>