{% extends "collection/index.html" %}
  {% block body  %}
<div class="row">
  <h1>Welcome {{profile}}, HOD ,{{ deptm.dept_name }}</h1>
  <h3>Programmes Offered in Your Department</h3>
<br>
    {% if programme_li %}
    <ul id="tree1">
    {% for pr in programme_li %}


                <li><a href="#"> {{ pr.programme_code }} - {{ pr.programme_name }} {{ pr.duration }} Years Course </a>

                    <ul>

                        <li>Odd Semester

                            <ul>
                                 <script>
    var a={{ pr.duration }}
    for (i = 1; i <=2*a; i=i+2) {
      document.write("<li>");
      document.write(i);
        document.write("<ul>");
        document.write("<li><a href='{{pr.programme_code}}/"+i+"'>Alot a Course</a></li>");
        document.write("<li><a href='{{pr.programme_code}}/"+i+"/fr'>Offer a course to another department</a></li>");

        document.write("</ul>");
      document.write("</li>");
    }


</script>
                            </ul>
                        </li>
                        <li>Even Semester

                        <ul>
                                <script>
    var a={{ pr.duration }}
    for (i = 2; i <=2*a; i=i+2) {
      document.write("<li>");
      document.write(i);
        document.write("<ul>");
        document.write("<li><a href='{{pr.programme_code}}/"+i+"'>Alot a Course</a></li>");
        document.write("<li><a href='{{pr.programme_code}}/"+i+"/fr'>Offer a course to another department</a></li>");

        document.write("</ul>");
      document.write("</li>");
    }



</script>
                            </ul>
                        </li>

                    </ul>
                    <br>
                </li>

    {% endfor %}

</ul>

{% else %}
    <p>Sorry No Programme is Available</p>
{% endif %}




</div>
  {% if activity_log %}
  	<div class="row">
        <h3>Recent Activities: (<a href="activity_log">View All</a>)</h3>


        {% for log in activity_log %}
    <div class="alert alert-success">{{log.date_time}} : {{log}}</div>

    {% endfor %}

	</div>

    {% endif %}
{% endblock %}
</body>
</html>