{% extends "collection/index.html" %}
  {% block body  %}
<!-- <div class="row">

<div class="col-xs-12 " >
        <section style="background:#efefe9;">
        <div class="container">
            <div class="row">
                <div class="board">
                    <!-- <h2>Welcome to IGHALO!<sup>™</sup></h2>
                    <div class="board-inner">
                    <ul class="nav nav-tabs" id="myTab">
                    <div class="liner"></div>
                     <li class="active">
                     <a href="#home" data-toggle="tab" title="welcome">
                      <span class="round-tabs one">
                              <i class="glyphicon glyphicon-home"></i>
                      </span>
                  </a></li>

                  <li><a href="#profile" data-toggle="tab" title="profile">
                     <span class="round-tabs two">
                         <i class="glyphicon glyphicon-ok"></i>
                     </span>
           </a>
                 </li>
                          <li><a href="#verify" data-toggle="tab" title="profile">
                     <span class="round-tabs two">
                         <i class="glyphicon glyphicon-lock"></i>
                     </span>
           </a>
                 </li>
                 <li><a href="#messages" data-toggle="tab" title="bootsnipp goodies">
                     <span class="round-tabs three">
                          <i class="glyphicon glyphicon-link"></i>
                     </span> </a>
                     </li>

                     <li><a href="#settings" data-toggle="tab" title="blah blah">
                         <span class="round-tabs four">
                              <i class="glyphicon glyphicon-lock"></i>
                         </span>
                     </a></li>

                     <li><a href="#doner" data-toggle="tab" title="completed">
                         <span class="round-tabs five">
                              <i class="glyphicon glyphicon-download-alt"></i>
                         </span> </a>
                     </li>

                     </ul></div>

                     <div class="tab-content">
                      <div class="tab-pane fade in active" id="home">

                         <h3 style="text-align:center;"> Hey! <b>{{profile}}</b> - {{ deptm.dept_name }} </h3><h3 class="head text-center"> Welcome to IIT(BHU) Course Portal</h3>
                          <p class="narrow text-center">
                             This page is your dashboard, here you can see all list of programs offered in your department and can print/export course-faculty data
                          </p>


                      </div>
                      <div class="tab-pane fade" id="profile">
                          <h3 class="head text-center"><b>STEp 1: </b>Check and verify courses</h3>
                          <p class="narrow text-center">
                              You can add, delete and edit any course of a programme offered in your department.<br>
                              Moreover, you can offer any native course to other departments.
                          </p>

                      </div>
                      <div class="tab-pane fade" id="verify">
                          <h3 class="head text-center"><b>STEp 2: </b>LOCK COURSES</h3>
                          <p class="narrow text-center">
Once you have <b>correctly</b> verified the courses, you need to lock course-data to proceed further. <br>
                              Once locked, you can not modify courses.
                          </p>


                      </div>
                      <div class="tab-pane fade" id="messages">
                          <h3 class="head text-center"><b>STEp 3: </b>Link Faculty with courses</h3>
                          <p class="narrow text-center">
After locking courses you need to link courses from the list of faculty.
                          </p>


                      </div>
                      <div class="tab-pane fade" id="settings">
                          <h3 class="head text-center"><b>STEp 4: </b>LOCK LINKED COURSE-FACULTY DATA</h3>



                      </div>
                      <div class="tab-pane fade" id="doner">
  <div class="text-center">
    <i class="img-intro icon-checkmark-circle"></i>
</div>
<h3 class="head text-center"><b>STEp 5: </b>TAKE PRINTOUT OR EXPORT</h3>
<p class="narrow text-center">
Take printout, save as pdf or export as csv of each programme list
</p>
</div>
<div class="clearfix"></div>
</div>

</div>
</div>
</div>
</section>

        </div>


    </div>
-->

<div class="row bs-wizard" style="border-bottom:0;">

                <div class="col-xs-3 bs-wizard-step complete">
                  <div class="text-center bs-wizard-stepnum">Step 1</div>
                  <div class="progress"><div class="progress-bar"></div></div>
                  <a href="#" class="bs-wizard-dot"></a>
                  <div class="bs-wizard-info text-center">Check and verify courses offered in a semester</div>
                </div>

                <div class="col-xs-3 bs-wizard-step complete"><!-- complete -->
                  <div class="text-center bs-wizard-stepnum">Step 2</div>
                  <div class="progress"><div class="progress-bar"></div></div>
                  <a href="#" class="bs-wizard-dot"></a>
                  <div class="bs-wizard-info text-center">Once you have <b>correctly</b> verified the courses, you need to lock course-data to proceed further.
                              Once locked, you can not modify courses.</div>
                </div>

             <div class="col-xs-3 bs-wizard-step complete"><!-- complete -->
                  <div class="text-center bs-wizard-stepnum">Step 2</div>
                  <div class="progress"><div class="progress-bar"></div></div>
                  <a href="#" class="bs-wizard-dot"></a>
                  <div class="bs-wizard-info text-center">Link Faculty with courses after locking courses.</div>
                </div>

                <div class="col-xs-3 bs-wizard-step active"><!-- active -->
                  <div class="text-center bs-wizard-stepnum">Step 4</div>
                  <div class="progress"><div class="progress-bar"></div></div>
                  <a href="#" class="bs-wizard-dot"></a>
                  <div class="bs-wizard-info text-center"> Once you are done, you can print or export data of that programme</div>
                </div>
            </div>





    {% if programme_li %}


    {% for pr in programme_li %}
<div class="row">
    <div class="col-sm-12">

                <li style=" list-style: none;">

              <p>      <button class="btn btn-block btn-sm btn-magick"><span style="margin:10px;font-size:15px;" class="glyphicon glyphicon-briefcase"></span> {{ pr.programme_name }}</button>
</p>
</div>
                    <div class="col-sm-4">
                    <ul>

                        <li style=" list-style: none; padding:0px; margin:0px;">Odd Semester

                            <ul class="tree1">
                                <br>
                                 <script>
    var a={{ pr.duration }}
    for (i = 1; i <=2*a; i=i+2) {
      document.write("<li>");
      if (i==1)
      document.write('I');
            if (i==3)
      document.write('III');
            if (i==5)
      document.write('V');
            if (i==7)
      document.write('VII');
            if (i==9)
      document.write('IX');

        document.write("<ul>");

 document.write("<li><a target='_blank' href='{{pr.programme_code}}/"+i+"/courses'>View/Edit Courses of Your Department</a></li>");
         document.write("<li><a target='_blank' href='{{pr.programme_code}}/"+i+"/fr'>View/Edit Courses Offered to Other Departments</a></li>");

        document.write("<li><a target='_blank' href='{{pr.programme_code}}/"+i+"'>Allot Faculty to Courses</a></li>");



        document.write("</ul>");
      document.write("</li>");
    }


</script>
                            </ul></li></ul>
    </li></div>


                            <div class="col-sm-8">
                             <div class="row" style="margin-right:0px;">
                                 <a href="{{ pr.programme_code}}/print" class="btn btn-info pull-right">Print
                                     <span style="color:white;"  class="glyphicon glyphicon-print"></span></a> </div>

                                {% for CHECKS in check %}
        {% if CHECKS.programme == pr %}
     <div class="col-sm-3"  style="line-height:2em;">  <b> Semester {{ CHECKS.semester }}</b></div>
       <div class="col-sm-4" style="line-height:2em;">    {% if CHECKS.course %}Course List <span style="color:green;"  class="glyphicon glyphicon-ok"></span>
           {% else %}
     Course-List <span style="color:red;" class="glyphicon glyphicon-remove"></span>

{% endif %} </div>
     <div class="col-sm-5" style="line-height:2em;">   {% if CHECKS.allot %} Course-Faculty Details <span style="color:green;"  class="glyphicon glyphicon-ok"></span>
{% else %}
     Course-Faculty Details <span style="color:red;" class="glyphicon glyphicon-remove"></span>
{% endif %} </div>

        {% endif %}
        {% endfor %}
                                </div>

                     <!--   <li>Even Semester

                        <ul>
                                <script>
    var a={{ pr.duration }}
    for (i = 2; i <=2*a; i=i+2) {
      document.write("<li>");
      document.write(i);
        document.write("<ul>");
 document.write("<li><a target='_blank' href='{{pr.programme_code}}/"+i+"/courses'>View/Edit Courses of Your Department</a></li>");
         document.write("<li><a target='_blank' href='{{pr.programme_code}}/"+i+"/fr'>View/Edit Courses Offered to Other Departments</a></li>");

        document.write("<li><a target='_blank' href='{{pr.programme_code}}/"+i+"'>Allot Faculty to Courses</a></li>");


        document.write("</ul>");
      document.write("</li>");
    }


</script>
                            </ul>
                        </li>
-->








    </div>
    <div class="row"><hr></div>
    {% endfor %}






{% else %}
    <p>Sorry No Programme is Available</p>
{% endif %}





  {% if activity_log %}
  	<div class="row">
        <h3>Recent Activities: (<a href="activity_log">View All</a>)</h3>


        {% for log in activity_log %}
    <div class="alert alert-success">{{log.date_time}} : {{log}}</div>

    {% endfor %}

	</div>


    {% endif %}
{% endblock %}
