{% extends "collection/index.html" %}
 {% block body  %}
{% if errors %}



	<div class="row">
     <br><br>
		<div class="error-notice">
                 <h1 style="color:red;">You have Following Errors: </h1>
            {% for error in errors %}
          <div class="oaerror danger">


            <strong>Error</strong> {{ error.0}} in <b>{{error.1}}</b>
              <br>



          </div>
{% endfor %}
        </div>
	</div>
{% endif %}
{% if course_success %}
	<div class="row">
     <br><br>
		<div class="error-notice">
<h1 style="color:green;"> Following actions were successful </h1>
 {% for courses in course_success %}
          <div class="oaerror success">
            <strong>Success</strong> - You have successfully updated Convener and Other Faculty For <b> {{courses}} </b>

          </div>
            {% endfor %}
        </div>
	</div>
{% else %}
<h1 style="color:green;">Oops! Nothing was Success....  </h1>

{% endif %}
<center>
<h1><a href="{{back_url}}">Go back</a> </h1> </center>
{% endblock %}